# No "version" key is needed at the top.

services:
  backend-api:
    build: ./backend
    devices:
      - "/dev/video0:/dev/video0"

  # The Frontend Web Server Service
  frontend-server:
    build: ./frontend
    ports:
      - "8080:80"  # Map your host's port 8080 to the container's port 80
    depends_on:
      - backend-api # Ensures the backend starts before the frontend